.InputStyle {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  border-color: black;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';

  position: relative;
  margin-top: 50px;
}

.InputStyle::placeholder {
  color: #615c5c5e;
  font-family: 'Montserrat';
  font-weight: 100;
}
  
.text-input:focus {
  border-bottom-color: #61DAFA;
  }

 
  
  